@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(13, 17, 46); /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #fffdfd; /* Color of the scrollbar thumb */
  border-radius: 1px; /* Border radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
   /* Color of the scrollbar thumb on hover */
}